@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DepartureMono";
  src: url("./assets/fonts/DepartureMono-Regular.woff2") format("woff2");
}

body {
  overflow: hidden;
  background-color: #1a202c;
}

.grecaptcha-badge {
  visibility: hidden !important;
}
